# Exercício de Pandas:
---
## Tratando arquivo csv com biblioteca Pandas via Power BI

### 1. Importação da biblioteca e leitura do arquivo de dados:

In [1]:
import pandas as pd
df = pd.read_csv('RAINHAS.csv')
print(df)

    ID                                           NOME QUALIDADE  \
0    1                      SIMONE DE BEAUVOIR           RAINHA
1    2                                   ADA LOVELACE    RAINHA
2    3                                  JUDITH BUTLER    RAINHA
3    4                                   ANGELA DAVIS    RAINHA
4    5  PAGU                                             RAINHA
5    6                               LUDWIG VON MISES   NADINHA
6    7                                    MARIE CURIE    RAINHA
7    8                                    FRIDA KAHLO    RAINHA
8    9     OLAVO DE CARVALHO                            NADINHA
9   10                              WINSTON CHURCHILL   NADINHA
10  11                                 PALETÓ CAMPARI   NADINHA

   DATA_NASCIMENTO
0       01-09-1908
1       12-10-1815
2       02-24-1956
3       01-26-1944
4       06-09-1910
5       09-29-1881
6       11-07-1867
7       07-06-1907
8       04-29-1947
9       11-30-1874
10      03-01-2015

### 2. Limpando espaços em branco desnecessários:

In [ ]:
df['NOME'] = df['NOME'].str.strip()

print(df)

### 3. Transformando dados em texto da coluna para numérico:

In [ ]:
df['ID'] = pd.to_numeric(df['ID'])

print(df['ID'])

### 4. Transformando dados em texto da coluna para data:

In [3]:
df['DATA_NASCIMENTO'] = pd.to_datetime(df['DATA_NASCIMENTO'])

print(df['DATA_NASCIMENTO'])

0    1908-01-09
1    1815-12-10
2    1956-02-24
3    1944-01-26
4    1910-06-09
5    1881-09-29
6    1867-11-07
7    1907-07-06
8    1947-04-29
9    1874-11-30
10   2015-03-01
Name: DATA_NASCIMENTO, dtype: datetime64[ns]
0                         SIMONE DE BEAUVOIR
1                                      ADA LOVELACE
2                                     JUDITH BUTLER
3                                      ANGELA DAVIS
4     PAGU
5                                  LUDWIG VON MISES
6                                       MARIE CURIE
7                                       FRIDA KAHLO
8        OLAVO DE CARVALHO
9                                 WINSTON CHURCHILL
10                                   PALETÓ CAMPARI
Name: NOME, dtype: object

### 5. Executar o código no Script Python do Power BI:

In [ ]:
import pandas as pd

df = pd.read_csv('RAINHAS.csv')

df['NOME'] = df['NOME'].str.strip()

df['ID'] = pd.to_numeric(df['ID'])

df['DATA_NASCIMENTO'] = pd.to_datetime(df['DATA_NASCIMENTO'])

#### Imagem do código inserido no script python do Power BI:
![Imagem do código inserido no script python do Power BI](BI1.png)
---
#### Imagem da tabela no Power Query:
![Imagem da tabela no Power Query](BI2.png)
---
#### Imagem final da tabela no Power BI
![Imagem final da tabela no Power BI](BI3.png)
---